@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap");

@media screen and (max-width: 1000px) {
    body {
      text-align: center;
    }
  }
#contact-page{
    font-family: 'Poppins', sans-serif;
}

.hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://res.cloudinary.com/elion-tech/image/upload/q_53/v1591786867/contact_ufsysy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  @media screen and (max-width: 1000px) {
    .hero {
      width: 100vw;
      height: 100vh;
    }
    
  }

.site-text{
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.header{
    height: 600px;
    width:100%;
    position: relative;
    height: 100vh;
}




@media(max-width: 768px){
    
    .navbar-collapse{
        background-color: rgba(0, 0, 0, 0.836);
        z-index: 2;
    }
    #nav{
        text-align: center;
    }
}
#hero-2{
    height: 55vh;
    background-color: rgba(31, 35, 43, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 3%;
}
.contact-info{
    width: 450px;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}
.contact-info:nth-child(2){
    border-left: 1px solid #828282;
    border-right: 1px solid #828282;
}
.contact-info .icon{
    width: 40px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 1rem;
}
.contact-info h4{
    margin-bottom: 1rem;
}
.contact-info p:first-of-type{
    margin-bottom: 1rem;
}
#map{
    position: relative;
    width: 100%;
    margin-bottom: -10px;
}
.align-items-center{
    margin: auto;
}
@media screen and (max-width:768px){
    #hero-2{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 3%;
}
.contact-info:nth-child(2){
    border:none;
}
.contact-info{
    width: 100%;
    
}
}

.high{
    height: 80vh;
}