#header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/facilites.png");
    min-height: 100vh;
}
body{
    background-color:  #E5E5E5;
}

.facility-head{
    color: white;
    margin-top: 200px;
}

hr{
    background-color: white;
}


.col{
    height: 388px;
    margin-top: 2%;
}

.first{
    background: linear-gradient(rgba(34, 29, 31, 0.9), rgba(34, 29, 31, 0.39)), url("../images/facility1.png") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.second{
    background: #ffffff url("../images/facility2.png") no-repeat center;
    background-size: cover;
}
.third{
    background: #ffffff url("../images/facility3.png") no-repeat center;
    background-size: cover;
}
.fourth{
    background: #ffffff url("../images/facility4.png") no-repeat center;
    background-size: cover;
}
.fifth{
    background: #ffffff url("../images/facility5.png") no-repeat center;
    background-size: cover;
    margin-bottom: 1rem;
}

.caption{
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    height: 50px;
    width: 100%;
    left: 0;
    top: 340px;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 15px;
}

.first button{
    background-color: #DBA7C1;
    margin:auto;
    
}
/*additions*/
@media screen and (max-width: 560px) {
    main{
        padding: 2rem .5rem;
    }
    .col{
    height: 200px;
    margin-top: 20px;
    }
    .caption{
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    height: 50px;
    width: 100%;
    left: 0;
    top: 152px;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 15px;
    }
}