#roomspage-page{
    font-family: 'Poppins', sans-serif;
}
html,body{
    overflow-x: hidden;
}

.hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://res.cloudinary.com/elion-tech/image/upload/v1591786654/roomspage/Rectangle1_vk5xxk.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 60px;
    width: 100vw;
  }

.site-text{
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    margin-bottom: 10px;
}

.rooms{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:576px){
    #nav{
        text-align: center;
    }
    hr{
        width: 200px !important;
    }
}




hr{
    width:500px ;
    border:1px solid #ffffff !important;
    font-weight: 600px;
}

.row1, .row2, .row3, .row4 {
    background-size: cover;
    height: 380px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ffffff;
    font-family: poppins;
    position: relative;
}
.row1{
    background-image: url("https://res.cloudinary.com/elion-tech/image/upload/v1591786651/roomspage/first_ehwlug.png");
    
}
.row2{
    background-image: url("https://res.cloudinary.com/elion-tech/image/upload/v1591786650/roomspage/second_bz2gsp.png");
}
.row3{
    background-image: url("https://res.cloudinary.com/elion-tech/image/upload/q_59/v1591786652/roomspage/third_j1avsp.png");
}
.row4{
    background-image: url("https://res.cloudinary.com/elion-tech/image/upload/q_63/v1591786654/roomspage/fourth_bglwca.png");
}

.deluxe{
    height: 380px;
    background-color:  rgba(0,0,0,0.7);
    position: absolute;
    left:0px;
    top: 0px;
    padding:.5rem 2rem;
    width: 40%;
}
.deluxe-suite{
    font-size: 36px;
    padding-top: 30px; 
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.04em;
}


.standard{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin: .5rem 0px;
}
.view-details{
    background: #DBA7C1;
    border-radius: 4px;
    border: none;
    line-height: normal;
    position: relative;
    height: 2.5rem;
    width: 8rem;
    font-size: 14px;
    color: black !important;
    transition: all .3s ease-in-out;

}
.view-details:hover{
    background: #ffffff;
    border-radius: 4px;
    border: none;
    line-height: normal;
    position: relative;
    height: 2.5rem;
    width: 8rem;
    font-size: 14px;
    color: #e780b4 !important;
}

.night{
    font-weight: 500;
    font-size: 16px; 
    border-bottom: 2px solid #DBA7C1;
    margin-bottom: 0px;
    padding-bottom: .3em;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    vertical-align: baseline;
    position: absolute;
    top: 80%;
    width: 90%;
}

@media screen and (max-width:1000px){
    .details{
    display: flex;
    flex-direction: column-reverse;
    justify-content: baseline;
    align-items: baseline;
    vertical-align: baseline;
    position: absolute;
    top: 45%;
    width: 90%;
    height: 5rem;
}
.view-details{
    background: #DBA7C1;
    border-radius: 4px;
    border: none;
    line-height: normal;
    position: relative;
    width: 6rem;
    font-size: 14px;
    margin-top: 0px;
}

.night{
    font-weight: 500;
    font-size: 16px; 
    border-top: 2px solid #DBA7C1;
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: .1em;
}
.row1, .row2, .row3, .row4 {
    background-size: cover;
    height: 380px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ffffff;
    font-family: poppins;
}
    .row1, .row2, .row3, .row4{
        background-size: cover;
        margin: auto 15px !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        color: #ffffff;
        font-family: poppins;
        height: 200px;
        justify-content: center;
        position: relative;
    }
    body{
        overflow-x: hidden;
    }
    .standard{
        display: none;
    }
  
    .deluxe{
        height: 200px;
        width:140px !important;
        position: absolute;
        left:0px;
        padding-top: 0rem;
        padding-left: 1rem;
    }
    .deluxe-suite{
        font-size: 16px;
        font-weight:bold ;
        letter-spacing: normal;
        line-height: normal;
        padding-top: 1rem;
    }
}
.high{
    height: 80vh;
}