
@font-face {
  font-family: 'gothan';
  src:
   url('./fonts/GothamBook.ttf'),
    url('./fonts/GothamBold.ttf'),
    url('./fonts/GothamBookItalic.ttf');
}



* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0;
          margin: 0;
}

button{
	cursor: pointer;
}



body {
  font-family: 'Playfair Display', serif;
  background-color: #fff;
}

a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: none !important;
}


.title-header{
	display: inline-block;
	font-weight: bold;
	color: #8C1648;
	font-size: 30px;
	border-bottom: 3px solid #FFC204;
}



/**********************HOME PAGE***********************/
.container-body{
    font-family: 'Times New Roman', Times, serif;
}

.nav-image{
    background-image : url("../img/background-img.jpg");
    background-size :  cover;
    
}


.introduction{
    color : white;
    margin-top : 8%;
    font-size : 35px;
    font-weight : bolder;  
    text-align: center;
}

#experience2{
    font-size : 30px;
}

#intro-buttons {
    margin-top : 9%;
    margin-left : 2%;
   
}

.buttonsA {
    font-size : 12px;
    border-radius : 10px;
    margin-right : 1%;
    height : 45px;
    background-color : transparent;
    border : 3px solid white;
    color : white;
}

#intro-buttons button select {
    background-color : transparent;
    border: none;
    font-size : 17px;
    color : white;
}

#intro-buttons button select :active {
    background-color : transparent;
    border: none;
    font-size : 17px;
    color : white;
}

.buttonsA select option {
    color : black;
}

#book{
    margin-top : 2%;
    margin-left : 35%;
    width : 120px;
    height : 50px;
    background-color :  #FFC300;
    border-radius : 20%;
    padding: 5px;
    color : white;
    font-size : 17px;
    font-weight : bold;
    border: none;
}

#arrow-down{
    margin-left : 45%;
    margin-top : 1%;
}

#arrow-down i{
    font-size : 50px;
    color :  #FFC300;
    font-weight : bolder;

}

.about-us{
    margin-top : 50%;
    margin-left : 1%;
    position : relative;
    margin-bottom : 10%;
    font-family: 'Times New Roman', Times, serif;
}

.about-note{
    background-color: #86032D;
    position : absolute;
    opacity: 0.8;
    top : -22%;
    left : 38%;
    color : white;
    width : 272x;
    height : 400px;

}

.about-note h1{
    margin-left: 30%;
    text-decoration : underline #FFC300;
    font-weight: bolder;
    margin-top : 5%;
    font-size: 17px;
}

.rectangle7{
    width: 280px;
    height : 280px;

}

.about-paragraph{
    margin-left : 8%;
    margin-right : 8%;
    margin-bottom : 4%;
    font-size : 14px;
    margin-top : 5%;
}

.choose-us{
    margin-top : 70%;
    position : relative;
    margin-bottom : 5%;

}

.rectangle9{
width:100%;
height:280px;
}

.choose-note{
background-color: #86032D;
position : absolute;
opacity: 0.8;
top : -22%;
left : 10%;
color : white;
width : 250px;
height : 400px;

}

.choose-note h1{
margin-left: 26%;
text-decoration : underline #FFC300;
margin-top : 9%;
font-size : 20px;
}

.about-paragraph-choose{
margin-top: 13%;
margin-left : 10%;
margin-right : 0;
margin-bottom : 2%;
font-size : 16px;
}


.about-paragraph-choose ul li {
margin-bottom : 4%;

}


.rooms{
margin-top : 50%;
}

.rooms h1 {
margin-left : 30%;
color : #86032D;
text-decoration: underline  #FFC300;
font-weight : bold;
margin-bottom: 3%;
}

.rooms *:hover{
  cursor: pointer;
  opacity: 0.99;
}

.col-sm-4 span{
font-size : 28px;
color : #86032D;

}
.positioning{
position : relative; 
margin-top : 2%;
margin-bottom : 3%;
}

.arrow-pointer{
position : absolute;
align-items: center;
height: 45px;
width: 45px;
border-radius: 50%;
font-size : 25px;
top : 5%;
left : 87%;
border-radius : 40%;
color : #120F4C;
border: 3px solid #FFC300;

}

.arrow-pointer i {
margin-left : 25%;
}

.testimonial{
margin-left : 1%;
margin-top : 15%;
margin-right : 1%;
margin-bottom: 40px;
}

.testimonial h1{
margin-left : 15%;
color : #86032D !important;
text-decoration: underline  #FFC300;
font-weight : bold;
font-family : 'Times New Roman', Times, serif;
margin-bottom: 3%;
}

.testimonial div {
position : relative;
margin-left : 1%;
font-size : 13px;
}

.testimonial-name{
margin-right: 30px;
font-size : 18px;
color : #86032D !important;
}

.testimonial-city{
margin-right: 30px;
font-size : 14px;
color : rgb(13, 107, 231) !important;
} 




@media only screen and (min-width: 768px) {
.container-body{
    font-family: 'Times New Roman', Times, serif;
}
.rectangle7{
    width: 650px;
    height : 280px;

}
.nav-image{
    background-image : url("../img/background-img.jpg");
    background-size : cover;
    background-color: black;
    width : inherit;
    height : 100%;
}


.introduction{
    color : white;
    text-align: center;
    margin-top : 8%;
    font-size : 90px;
    font-weight : bolder;  
}

#experience2{
    font-size : 60px;
}

#intro-buttons {
    margin-top : 9%;
   
}

.buttonsA {
    font-size : 17px;
    border-radius : 10px;
    margin-right : 5%;
    height : 45px;
    background-color : transparent;
    border : 3px solid white;
    color : white;
    margin-top: 5px;
}

#intro-buttons button select {
    background-color : transparent;
    border: none;
    font-size : 17px;
    color : white;
}

#intro-buttons button select :active {
    background-color : transparent;
    border: none;
    font-size : 17px;
    color : white;
}

.buttonsA select option {
    color : black;
}


#book{
    width : 120px;
    margin-left: 0;
    height : 50px;
    background-color :  #FFC300;
    border-radius : 30%;
    padding: 5px;
    color : white;
    font-size : 17px;
    font-weight : bold;
    border: none;
}

#arrow-down{
    margin-left : 50%;
    margin-top : 1%;
}

#arrow-down i{
    font-size : 40px;
    color :  #FFC300;
    font-weight : bolder;

}

.about-us{
    margin-top : 15%;
    margin-left : 10%;
    position : relative;
    margin-bottom : 10%;
    font-family: time
}

.about-note{
    background-color: #86032D;
    position : absolute;
    opacity: 0.8;
    top : -22%;
    left : 42%;
    color : white;
    width : 500px;
    height : 400px;

}

.about-note h1{
    margin-left: 30%;
    text-decoration : underline #FFC300;
    font-weight: bolder;
    margin-top : 5%;
}

.about-paragraph{
    margin-left : 15%;
    margin-right : 15%;
    margin-bottom : 2%;
    font-size : 14px;
    margin-top : 5%;
}

.choose-us{
        margin-top : 22%;
        position : relative;
        margin-bottom : 5%;
    
}

.rectangle9{
    width:100%;
    height:280px;
}

.choose-note{
    background-color: #86032D;
    position : absolute;
    opacity: 0.8;
    top : -22%;
    left : 10%;
    color : white;
    width : 500px;
    height : 400px;

}

.choose-note h1{
    margin-left: 26%;
    text-decoration : underline #FFC300;
    margin-top : 9%;
}

.about-paragraph-choose{
    margin-top: 4%;
    margin-left : 15%;
    margin-right : 15%;
    margin-bottom : 2%;
    font-size : 16px;
}


.about-paragraph-choose ul li {
    margin-bottom : 4%;

}

.rooms{
    margin-top : 20%;
}

.rooms h1 {
    margin-left : 35%;
    color : #86032D;
    text-decoration: underline  #FFC300;
    font-weight : bold;
    margin-bottom: 3%;
}

.col-sm-4 span{
    font-size : 28px;
    color : #86032D;

}
.positioning{
    position : relative; 
    margin-top : 2%;
    margin-bottom : 0;
}

.arrow-pointer{
    position : absolute;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size : 25px;
    top : 5%;
    left : 85%;
    border-radius : 40%;
    color : #120F4C;
    border: 3px solid #FFC300;

}

.arrow-pointer i {
    margin-left : 25%;
}

.testimonial{
    margin-left : 15%;
    margin-top : 15%;
    margin-right : 15%;
    position: relative;
}


.testimonial h1{
    margin-left : 35%;
    color : #86032D !important;
    text-decoration: underline  #FFC300;
    font-weight : bold;
    font-family : 'Times New Roman', Times, serif;
    margin-bottom: 3%;
}


.testimonial div {
    position : relative;
    margin-left : 20%;
    font-size : 18px;
}


.testimonial-name{

    font-size : 18px;
    color : #86032D !important;
}


.testimonial-city{

    font-size : 14px;
    color : rgb(13, 107, 231) !important;
}


}

/*********END OF HOMEPAHE ******************/






/*Header */

.well {

  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;

}


.logo,.header-right,.well{
	background:none;
	border:none;
}

.bg{
	background: url(../img/a.png) no-repeat;
	background-size: cover;
  background-position: center center;
	position:relative;
}



.logo {
	display: inline-block;
	width: auto;
	height: auto;
}



.header-layer{
	background: rgba(0, 0, 0, 0.64);
	min-height: 700px;
}


.logo,.header-nav{
	margin-top: 1em;
	font-family: san-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
letter-spacing: 1px;
line-height: 23px;
}


.head-info {
	position: absolute;
	top: 45%;
	left: 20%;
	width: 60%;
	text-align: center;
	font-family: Playfair Display;
color: #FFFFFF;
}

.head-info h1{
	  font-size: 70px;
  font-weight: 700;
}



.nav-right ul,.nav-right ul li{
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-right ul li,.nav-right ul li a{
	display: inline-block;
}

.nav-right ul li a{
	margin: 0 23px;
	color: #fff;
	line-height: 23px;
}

.nav-right ul li a:hover{
	color: #FFC204;
}




/*End of Header */





/*Room service */


.service{
	box-shadow: 0px 23px 44px rgba(0, 0, 0, 0.25);display: inline-block;
	padding: 40px 60px;
	font-family: san-serif;
}

.service img {
	z-index: 1;
	transition: 1s;
}

.service img:hover {
	opacity: 0.8;
}



.service p,.service button{
	font-size: 18px;
	z-index: 2;
}

.service button:hover{
	opacity: 0.9;
}

.line-breaker-service{
	margin-top: 160px;
}

.service-header,.service-button-holder{
	text-align: center;
}

.service-button{
	outline: none;
	border: none;
	background-color: #8C1648;
	display: inline-block;
	padding: 10px 25px;
	text-align: center;
	color: #fff;
	margin-top: 20px;
}



/*end of Room service */


/*Footer*/

footer {
	font-family: sans-serif;

}

footer p{
	letter-spacing: 1px;
	font-weight: 300;
}

footer a:hover{
	color: #FFC204 !important;
}

/*End Footer*/


 


@media (max-width: 767px) {

	

  .head-info h1 {
    font-size: 50px;
  }


  .service {
  	padding:10px 5px;
  }

  .service .service-left{
  	padding: 0 30px;
  }

  

  
  .service-button{
  	padding: 5px 15px;
  }
 

}






/* menu icon */

 .menu-icon {
  cursor: pointer;
  display: none;
  margin: 30px 20px 0  0;
  position: relative;
  user-select: none;
}




 .menu-btn {
  display: none;
}



@media (max-width: 768px) {

   .header-nav {
   
    display: none;
   	padding-top: 50px !important;
  }

   .menu-icon:hover  .header-nav{
  	display: block;
  }

 .header-nav li{
	 display: block !important;
}
   .header-nav li a{
  display: block !important;
  padding: 20px 20px ;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  text-decoration: none;
  }

  
   .menu-icon {
    display: block;
    z-index: 6;
    position: absolute;
    top: 0;
    right: 0px;
  }



 .menu-btn:checked ~ .header-nav {
  display: block;
  position: fixed;
  background-color:rgba(0,0,0,0.9); 
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}


@keyframes slide {

	from {
		left:-100%;
	}
	to{
		left:0px;
	}
}


 .menu-btn:checked ~ .menu-icon {

	position: fixed;
	top:0px;
	right: 10px;
}



}





/*************CONTACT US PAGE CSS *****************/

p{
    font-family: 'gothan';
    font-weight: normal;
    font-style: normal;
}

/* HERO SECTION */


.hero_div{
    background: url('../img/hero_image.png') no-repeat;
    background-size: 100% 100%;
    margin-top: 0px;
    width: 100%;
    height: 100vh;
}
.center-text{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.center-text h1{
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
}

/* GET IN TOUCH SECTION */
section.get_in_touch{
    padding: 2%;
    padding-left: 10%;
}
.contact_content{
    display: flex;
    flex-direction: column;
}
.contact_content h3{
    max-width: 160px;
    color: #8c1647;
    border-bottom: 2px solid #ffc204;
    margin-bottom: 30px;
}
.span{
    display: flex;
    margin-bottom: 1.5rem;
}
.span img{
    width: 30px;
    height: 30px;
}
.span p{
    margin-left: 1rem;
    margin-top: 0;
}
/* MAP */
.map{
    background: url('../img/map.png') no-repeat center center;
    width: 100%;
    min-height: 400px;
}




/*END OF CONTACT US PAGE ********/






/**********FACILITIES PAGE************/


:root {
  --display: flex;
  --justifyContent: center;
  --alignItems: center;
}

.section-middle-box:hover{
  cursor: pointer;
  opacity: 0.9;
}
 /*header */
 #app{
 	color: white;
 }
.header {
  position: absolute;
  width: 100%;
}

 /*top with the background image */
.section-top {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.472),
      rgba(0, 0, 0, 0.233)
    ),
    url("../img/header_img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-top-text h1 {
  font-size: 65px;
  font-family: "Playfair Display";
}

 /*middle */
.section-middle {
  padding: 75px 0px;
}
.section-middle .section-middle-flex {
  display: var(--display);
  justify-content: var(--justifyContent);
}
.section-middle-box-text {
  width: 100px;
  display: var(--display);
  justify-content: var(--justifyContent);
  font-weight: 600;
  font-family: "Playfair Display";
  font-size: 30px;
  text-align: center;
}
.section-middle-box {
  margin-bottom: 50px;
  width: 240px;
  height: 240px;
  display: var(--display);
  justify-content: var(--justifyContent);
  align-items: var(--alignItems);
  background-size: cover;
}

.section-middle-box:nth-child(1) {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.472),
      rgba(0, 0, 0, 0.233)
    ),
    url("../img/swimming_pool.png") center center;
}
.section-middle-box:nth-child(2) {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.472),
      rgba(0, 0, 0, 0.233)
    ),
    url("../img/gym.png") center center;
}
.section-middle-box:nth-child(3) {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.472),
      rgba(0, 0, 0, 0.233)
    ),
    url("../img/bar.png") center center;
}
.section-middle-box:nth-child(4) {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.472),
      rgba(0, 0, 0, 0.233)
    ),
    url("../img/spa.png") center center;
}
.section-middle-box:nth-child(5) {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.472),
      rgba(0, 0, 0, 0.233)
    ),
    url("../img/banquet_room.png") center center;
}
.section-middle-box:nth-child(6) {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.472),
      rgba(0, 0, 0, 0.233)
    ),
    url("../img/car_park.png") center center;
}
@media (min-width: 600px) {
  .section-middle-box {
    margin-bottom: 0px;
  }
  .section-middle-grid {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    grid-gap: 55px;
  }
}
@media (min-width: 900px) {
  .section-middle-box {
    margin-bottom: 0px;
  }
  .section-middle-grid {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-gap: 55px;
  }
}

@media (min-width: 1528px) {
  #app {
    width: 1300px;
    margin: 0 auto;
    background: white;
    margin-bottom: 0px !important;
  }
  .header {
    width: 1300px;
    left: 50%;
  }
 
}






/*****END OF FACILITIES PAGE **************?



































